@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0B1120;
  --foreground: #F9FAFB;
}

.dark {
  --background: #0B1120;
  --foreground: #F9FAFB;
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-primary text-textPrimary;
  }
}